/* portfolio.css */
header, main, footer { display: flex; justify-content: space-between; align-items: center; }
main { flex-direction: row; }
@media(max-width:700px){ main, header { flex-direction: column; text-align:center; } }